<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Hey, <%= @student.name %></h3>
    <p>You have successfully enrolled in <%= @section.title %> with <%= @teacher.name %>.</p>
    <p>Contact them at <%= @teacher.email %> with any questions.</p>
    <h4>Reminder:</h4>
    <p>Course Date: <%= @course.date %></p>
    <p>Course Time: <%= @course.time %></p>
    <br><br>
    <p>Happy Learning!</p>
    <p>Contact us at info@comuse.co, we're here to help.</p>
  </body>
</html>
